body {
  background: #b2dff1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  margin: 30px auto;
  color: #123456;
  text-align: center;
}

h1{
  font-size: 70px;
}

button {
  background: #fff;
  color: #123456;
  border: solid 1px #123456;
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 28px;
  width: auto;
  margin: 10px;
  outline: none;
}
button:hover {
  transition: all 0.5s ease-in-out;
  background: #29ab3f;
  border: solid 2px #dcc514;
  color: #fff;
}

@media screen and (max-width: 576px){
   h1 {
    font-size: 40px;
  }
  .btn-container {
    /* align-items: flex-end; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  

}

